.home{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  background: linear-gradient(
    to right,
    #403530 0% 1%,
    #383040 1% 10%,
    #2e2f2b 10% 90%,
    #54806C 90% 99%,
    #403530 99% 100%
  );

  .home-main {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    height: fit-content;
    width: auto;
    background-color: #222222;
  }

  .trending-main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .trending-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .trending-item-container {
    display: block;
    align-self: center;
  }

  .trending-item-header {
    height: 2rem;
    font-size: 1.3rem;
    line-height: 1.9rem;
    font-weight: 600;
    color: #ffffb1;
  }

  .trending-nav-thumbnail-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: start;
    align-items: start;
    text-align: center;
  }

  .trending-nav-thumbnail-item {
    
  }

  .trending-body-thumbnail-image {
    display: flex;
    flex-direction: column;
    height: 12rem;
    width: 8rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    filter: drop-shadow(9px 2px 6px #66563d);
    transition: all .1s ease-in-out; 
    z-index: 10;
  }

  .trending-body-thumbnail-image:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px #66563d);
  }

  .trending-body-thumbnail-image:hover .trending-thumbnail-header {
    visibility: visible;
  }

  .trending-body-thumbnail-image:hover .trending-thumbnail-footer {
    visibility: visible;
  }

  .trending-body-thumbnail-image:hover .trending-activity-thumbnail-footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.436), black);
  }

  .trending-thumbnail-header {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 0.75rem;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: rgba(0, 0, 0, 0.342);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .trending-thumbnail-footer {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.156), black);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .trending-loader-main {
    width: 50rem;
    height: 100%;
    background-color: #222222;
  }

  .trending-loader-container {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .trending-loader-item {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 99;
  }
  
  .trending-loader-item-1 {
    background-color: #FFB0A3;
    top: 0;
    left: 0;
    z-index: 1;
    animation: trending-loader-item-1_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  
  .trending-loader-item-2 {
    background-color: #E5A3FF;
    top: 0;
    right: 0;
    animation: trending-loader-item-2_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  
  .trending-loader-item-3 {
    background-color: #A2FFD5;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: trending-loader-item-3_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  
  .trending-loader-item-4 {
    background-color: #FFF4A3;
    bottom: 0;
    left: 0;
    animation: trending-loader-item-4_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  
  @keyframes trending-loader-item-1_move {
    0%, 100% {transform: translate(0, 0)} 
    25% {transform: translate(0, 100px)} 
    50% {transform: translate(100px, 100px)} 
    75% {transform: translate(100px, 0)} 
  }
  
  @keyframes trending-loader-item-2_move {
    0%, 100% {transform: translate(0, 0)} 
    25% {transform: translate(-100px, 0)} 
    50% {transform: translate(-100px, 100px)} 
    75% {transform: translate(0, 100px)} 
  }
  
  @keyframes trending-loader-item-3_move {
    0%, 100% {transform: translate(0, 0)} 
    25% {transform: translate(0, -100px)} 
    50% {transform: translate(-100px, -100px)} 
    75% {transform: translate(-100px, 0)} 
  }
  
  @keyframes trending-loader-item-4_move {
    0%, 100% {transform: translate(0, 0)} 
    25% {transform: translate(100px, 0)} 
    50% {transform: translate(100px, -100px)} 
    75% {transform: translate(0, -100px)} 
  }

  .upcoming-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 4rem;
    justify-content: center;
    align-items: center
  }

  .upcoming-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    gap: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .upcoming-date {
    text-align: center;
  }

  .upcoming-time {
    text-align: center;
  }

  .upcoming-item-container {
    display: block;
    align-self: center;
  }

  .upcoming-item-header {
    font-size: 1.3rem;
    line-height: 1.9rem;
    font-weight: 600;
    color: #ffffb1;
    text-align: center;
  }

  .upcoming-nav-thumbnail-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: start;
    align-items: start;
    text-align: center;
  }

  .upcoming-nav-thumbnail-item {
    
  }

  .upcoming-item-thumbnail-image {
    display: flex;
    flex-direction: column;
    height: 12rem;
    min-width: 8rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    filter: drop-shadow(9px 2px 6px #66563d);
    transition: all .1s ease-in-out; 
    z-index: 10;
  }

  .upcoming-item-thumbnail-image:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px #66563d);
  }

  .upcoming-item-thumbnail-image:hover .upcoming-thumbnail-footer {
    visibility: visible;
  }

  .upcoming-item-thumbnail-image:hover .upcoming-activity-thumbnail-footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.436), black);
  }

  .upcoming-thumbnail-footer {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.156), black);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .upcoming-entry-header {
    text-align: center;
  }
}