.Row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
    background-color: #464646;
}
.Column {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #6F6F6F;
}
