.list-landing {
  .list-landing-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to right,
      #403530 0% 1%,
      #383040 1% 10%,
      #2e2f2b 10% 90%,
      #54806C 90% 99%,
      #403530 99% 100%
    );
  }

  .list-landing-sidebar-container {
    background-color: #6F6F6F;
    color: #FFEFCC;
    display: flex;
    flex-direction: column;
    width: 10rem;
    position: fixed;
    top: 25%;
    float: left;
    font-family: arial;
    border-top-width: 8px;
    border-right-width: 8px;
    border-color: #54806C;
    border-radius: 0 0.5rem 0.5rem 0;
    // box-shadow: 0 0 50px #000000;
  }

  .list-landing-sidebar-container:hover {
    border-color: #507b68;
  }

  .list-landing-sidebar-item {
    font-weight:bold;
    height: 5rem;
    align-content: center;
    text-align: center;
    justify-content: center;
  }

  .list-landing-sidebar-item:hover {
    background-color: #8CA99D;
  }

  .list-landing-sidebar-item-bottom {
    box-shadow: inset 0 -4px 0px 0 #A2FFD5;
  }

  .list-landing-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 60vw;
    max-width: 100vw;
  }

  .list-landing-nav-item-container {
    font-family: arial;
  }

  .list-landing-nav-top {
    flex: 1 1 auto;
    //padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    background-color: #121212;
    //border-spacing: var(--tw-border-spacing-x) 0px;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    position: sticky;
    top: 0px;
    border-top-width: 8px;
    border-left-width: 8px;
    border-color: #383040;
    border-radius: 0.5rem 0 0 0;
  }

  .list-landing-nav-header {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #ffffb1;
    padding-right: 1rem;
  }

  .list-landing-nav-length {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #FF9900;
    padding-left: 1rem;
    border-left-width: 4px;
    border-color: #7196aa;
  }

  .list-landing-nav-bottom-container {
    flex: 1 1 auto;
    //padding: 1.5rem;
    background-color: #464646;
    width: 45rem;
    font-family: arial;
    border-left-width: 8px;
    border-bottom-width: 8px;
    border-color: #383040;
    border-radius: 0 0 0 0.5rem;
  }

  .list-landing-nav-bottom {
    border-top-width: 4px;
    border-color: #66563d;
  }

  .list-landing-nav-description {
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    font-family: "Playfair Display";
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem;
    box-shadow: 0 35px 60px -15px rgba(46,47,43,18);
  }

  .list-landing-nav-last-updated-container {
    width: 100%;
    flex: none;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    color: #408063;
    margin-top: 0.5rem;
    padding-left: 35%;
    padding-right: 0.75rem;
    padding-bottom: 0.25rem;
  }

  .list-landing-nav-last-updated-span {
    color: #dbffcc;
  }

  .list-landing-nav-link-container {
    float: right;
    width: 40%;
    height: 2.6rem;
    display: grid;
    grid-template-columns: 50% 50%;
    /*border-width: 8px;
    border-color: #383040;*/
  }

  .list-landing-nav-link-open {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    background-color: #6F6F6F;
    color: #FFEFCC;
    border-top-width: 8px;
    border-color: #54806C;
  }

  .list-landing-nav-link-open:hover {
    background-color: #8CA99D;
    border-color: #507b68;
  }

  .list-landing-nav-link-settings {
    font-weight: 600;
    background-color: #6F6F6F;
    color: #FFEFCC;
    border-top-width: 8px;
    border-right-width: 8px;
    border-color: #54806C;
    border-radius: 0 0 0.5rem 0;
  }

  .list-landing-nav-link-settings:hover {
    background-color: #8CA99D;
    border-color: #507b68;
  }
}
