.user-landing {
  .user-landing-main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    background: linear-gradient(
      to right,
      #403530 0% 1%,
      #383040 1% 10%,
      #2e2f2b 10% 90%,
      #54806C 90% 99%,
      #403530 99% 100%
    );
  }

  .user-landing-stats-container {
    grid-area: stats;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .user-landing-stats-pie-chart {
    width: 100%;
    height: 100%;
  }

  .user-landing-stats-bar-chart {
    width: 100%;
    height: 100%;
  }

  .user-landing-stats-box-plot-chart {
    width: 100%;
    height: 100%;
  }

  .user-landing-stats-radial-bar-chart {
    width: 100%;
    height: 100%;
  }

  .user-landing-stats-line-chart {
    width: 100%;
    height: 100%;
  }

  .user-landing-stats-chord-chart {
    width: 100%;
    height: 100%;
  }

  .user-landing-stats-calendar-chart {
    width: 100%;
    height: 100%;
  }

  .user-landing-nav-button-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
  }

  .user-landing-selection-nav-container {
    display: flex;
    flex-direction: row;
    align-self: center;
  }

  .user-landing-nav-arrow {
    font-size: 35px;
  }

  .user-landing-reveal-button {
    width: fit-content;
  }

  .user-landing-dropdown-trigger {
    background-color: black;
    align-self: center;
    width: fit-content;
    height: fit-content;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    cursor: pointer;
  }

  .user-landing-favorite-insert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    width: 5rem;
    color: #FF4200;
    font-size: 45px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all .1s ease-in; 
  }

  .user-landing-favorite-insert:hover {
    border: 2px solid #FF4200;
  }

  .user-landing-body-header {
    align-self: center;
    width: fit-content;
    height: fit-content;
  }

  .user-landing-body-container{
    display: grid;
    grid-template-areas:
    'stats activity'
    'favorites favorites';
    grid-template-columns: repeat(2, 1fr);
  }

  .user-landing-body-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .user-landing-list-type-header {
    text-align: left;
  }

  .user-landing-body-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    gap: 0.5rem;
  }

  .user-landing-recent-activity-body-item {
    display: flex;
    flex-direction: row;
    width: 15rem;
  }

  .user-landing-favorites-body-item {
    
  }

  .user-landing-body-text-container {
    display: flex;
    flex-direction: column;
    position:relative;
    width: 9.5rem;
    padding-left: 0.5rem;
    display: grid;
    grid-template-rows: 80% 20%;
  }

  .user-landing-body-latest-type {
    align-content: center;
  }

  .user-landing-body-latest-time {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .user-landing-body-thumbnail-image {
    display: flex;
    flex-direction: column;
    height: 7.5rem;
    width: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    filter: drop-shadow(3px 2px 6px #66563d);
    transition: transform .1s ease-in-out;
  }

  .user-landing-body-thumbnail-image:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px #66563d);
  }

  .user-landing-body-thumbnail-image:hover .user-landing-thumbnail-header {
    visibility: visible;
  }

  .user-landing-body-thumbnail-image:hover .user-landing-thumbnail-footer {
    visibility: visible;
  }

  .user-landing-thumbnail-header {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 0.75rem;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: rgba(0, 0, 0, 0.342);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .user-landing-thumbnail-footer {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: rgba(0, 0, 0, 0.342);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .user-landing-recent-activity-container {
    grid-area: activity;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
  }

  .user-landing-recent-activity-content {
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
  }

  .user-landing-favorites-container {
    grid-area: favorites;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
  }

  .user-landing-favorites-content {
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
  }
}
