.watchlist-search {
  .watchlist-search-bar {
    text-align: center;
    border-radius: 0.25rem;
  }

  .watchlist-search-item {
    background-color: #6F6F6F;
  }

  .watchlist-search-item:hover {
    cursor: pointer;
    background-color: #464646;
  }
}