.watchlist-search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;

  .watchlist-search-bar {
    text-align: center;
    border-radius: 0.25rem;
    min-width: 3rem;
    max-width: 6rem;
  }

  .watchlist-search-item {
    background-color: #6F6F6F;
  }

  .watchlist-search-item:hover {
    cursor: pointer;
    background-color: #464646;
  }
}